:root {
  --clr-red: #e63946;
  --clr-white: #f1faee;
  --clr-light-blue: #a8dadc;
  --clr-blue: #457a9c;
  --clr-dark-blue: #1d3557;
  --font-primary: "Poppins", sans-serif;
}

body {
  background-color: var(--clr-white);
  height: 100vh;
  font-family: var(--font-primary);
}

body,
main,
.game-container,
.front,
.back {
  display: grid;
  place-items: center;
}

header {
  place-self: start;
  width: 62.5%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
}

.logo {
  width: 100px;
}
.levels-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.level-btn {
  font-size: 1.2rem;
  color: var(--clr-dark-blue);
  background-color: transparent;
  border: 0;
  font-weight: 200;
  font-family: var(--font-primary);
  width: 4rem;
}

.level-btn:hover {
  cursor: pointer;
  font-weight: 400;
}

.game-container {
  gap: 2.5rem;
}

.cards-container {
  display: grid;
  gap: 1rem;
  width: 35rem;
  height: 25rem;
  grid-template-columns: repeat(4, 1fr); /* Creates 3 equal-width columns */
  grid-template-rows: repeat(3, 1fr); /* Creates 3 equal-height rows */
}

.card {
  border-radius: 0.5rem;
  border: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s ease-out;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flipped {
  transform: rotateY(180deg);
}

.front {
  background-color: var(--clr-light-blue);
}

.question-mark-icon,
.back-img {
  width: 80%;
  height: 80%;
}
.back {
  background-color: var(--clr-blue);
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 0.5rem;
  left: 0;
  top: 0;
  backface-visibility: hidden;
}

.new-game-btn {
  padding-block: 1rem;
  padding-inline: 2rem;
  background-color: var(--clr-red);
  font-size: 2rem;
  color: var(--clr-white);
  border-width: 0;
  border-radius: 0.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s ease-out;
}

.card:hover,
.new-game-btn:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

.disabled-btn,
.disabled-btn:hover {
  background-color: #e63947c4;
  cursor: default;
}

/* makes game non interactive until it completely starts */
.disabled {
  pointer-events: none;
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.game-over {
  color: var(--clr-dark-blue);
}

.hidden {
  display: none;
}
